<div>
    <h3 class="side-menu-h3">Ordrar</h3>
    <ul>

        <li>
            <a asp-area="" asp-controller="Order" asp-action="Index">Order</a>
        </li>
        <li>
            <a asp-area="" asp-controller="OrderProducts" asp-action="Index">Order
                Produkter</a>
        </li>
    </ul>
</div>
<div>
    <h3 class="side-menu-h3">Produkter</h3>
    <ul>
        <li>
            <a asp-area="" asp-controller="Product" asp-action="Index">Produkter</a>
        </li>
        <li>
            <a asp-area="" asp-controller="ProductType" asp-action="Index">Produkt
                Varianter</a>
        </li>
    </ul>
</div>
<div>
    <h3 class="side-menu-h3">Katalog</h3>
    <ul>
        <li>
            <a asp-area="" asp-controller="CatalogCategories" asp-action="Index">Kategorier</a>
        </li>
        <li>
            <a asp-area="" asp-controller="CatalogSubCategories" asp-action="Index">Underkategorier</a>
        </li>
        <li>
            <a asp-area="" asp-controller="ProductColor" asp-action="Index">Färger</a>
        </li>
        <li>
            <a asp-area="" asp-controller="ProductSize" asp-action="Index">Storlekar</a>
        </li>
    </ul>
</div>
<div>
    <h3 class="side-menu-h3">Administration</h3>
    <ul>
        <li>
            <a asp-area="" asp-controller="DiscountCodes" asp-action="Index">Rabatter</a>
        </li>
        <li>
            <a asp-area="" asp-controller="News" asp-action="Index">Nyheter</a>
        </li>


        <li>
            <a asp-area="" asp-controller="Episode" asp-action="Index">Avsnitt</a>
        </li>
    </ul>
</div>