@model backend.Models.ProductType

@{
  Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ändra</title>
</head>
<body>

<h4>Produkttyp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductColorId" class="control-label"></label>
                <select asp-for="ProductColorId" class="form-control" asp-items="ViewBag.ProductColorId"></select>
                <span asp-validation-for="ProductColorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductSizeId" class="control-label"></label>
                <select asp-for="ProductSizeId" class="form-control" asp-items="ViewBag.ProductSizeId"></select>
                <span asp-validation-for="ProductSizeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tillbaka till lista</a>
</div>

</body>
</html>
