@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Meny</h1>


    @if (SignInManager.IsSignedIn(User))

    {
        <h2>Administration av Bashpoddens webbplats</h2>
        <nav class="admin-menu">
            <partial name="_adminNavPartial" />
        </nav>










    }
</div>
