@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Katalog</h2>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="CatalogCategories"
                asp-action="Index">Kategorier</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="CatalogSubCategories"
                asp-action="Index">Underkategorier</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="ProductColor" asp-action="Index">Färger</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="ProductSize" asp-action="Index">Storlekar</a>
        </li>
    </ul>
    <h2>Ordrar</h2>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="Index">Order</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="OrderProducts" asp-action="Index">Order
                Produkter</a>
        </li>
    </ul>
    <h2>Produkter</h2>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Produkter</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="ProductImages"
                asp-action="Index">Produktbilder</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="ProductProperties"
                asp-action="Index">ProduktEgenskaper</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="ProductType" asp-action="Index">Produkt
                Varianter</a>
        </li>
    </ul>
    <h2>Övrigt</h2>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="DiscountCodes" asp-action="Index">Rabatter</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="News" asp-action="Index">News</a>
        </li>
    </ul>
</div>
