@{
    ViewData["Title"] = "Dataskydd";
}
<h1>@ViewData["Title"]</h1>

<h2>Viktigt</h2>
<p>I samband med användande av administrationsgränssnittet hanteras känsliga uppgifter<br> <strong>Dela inte känsliga
        uppgifter!</strong></p>

<h3>Läs om dataskydd</h3>
<ul>
    <li><a href="https://www.imy.se/">Integritetsskyddsmyndigheten (IMY)</a></li>
    <li><a href="https://www.imy.se/verksamhet/dataskydd/">Dataskydd (IMY)</a></li>
    <li><a href="https://www.regeringen.se/rattsliga-dokument/kommittedirektiv/2016/02/dir.-201615/">Dataskyddsförordningen
            (Regeringen)</a></li>
</ul>

<h3>Rpportera dataskyddsincident</h3>
<p><strong><a href="https://www.imy.se/verksamhet/utfora-arenden/anmal-personuppgiftsincident/">Rapportera
            incident</a></strong></p>