@import url("https://use.typekit.net/zbs5tqq.css");
/*Logo font: font-family: battery-park, sans-serif; font-weight: 400; font-style: normal; */
/*Primary Header Font: font-family: burnaby-stencil, sans-serif; font-weight: 400; font-style: normal; */
/*Text font: font-family: rama-gothic-m, sans-serif;  font-weight: 400; font-style: normal; */

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


a.navbar-brand {
  font-family: battery-park, sans-serif;
  font-size: 25px;
  color: #000;
}



main {
  padding-left: 60px;
  overflow-x: auto;
  max-width: 100%;
}
.side-menu {
  position: fixed;
  left: 0px;
  transform: translateX(-185px);
  top: 150px;
  width: 250px;
  border-radius: 0rem 1rem 1rem 0rem;
  padding: 1.5rem;
z-index: 50;
  transition: 0.3s ease-in-out all;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  max-height: 80vh;
  overflow: auto;
  box-shadow: 2px 2px 5px #707070;
  min-height: 220px;
}
@media (max-width: 800px) {
  .side-menu {
    top: initial;
    bottom: 65px;
    height: 200px;
    overflow: hidden;
    
  }
}

.side-menu nav ul {
  line-height: 1.25rem;
  list-style-type: none;
  font-size: 1.2rem;
  padding: 0px;
  max-width: calc(100% - 45px);
  list-style: none;
}

.side-menu-h3 {
  font-size: 20px;
}

.side-menu nav a{
  color: #000000;
  text-decoration: none;
}

.side-menu nav a:hover {
  text-decoration: underline;
}

.side-menu .toggle-button {
  height: 30px;
  width: 30px;
  padding: 5px;
  position: absolute;
  right: 1.1rem;
  top: 1.5rem;
  border: solid 1px #ffea00;
  color: #ffea00;
  border-radius: 50%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 16px;
  pointer-events: none;
  transition: all ease-in-out 0.3s;
  box-shadow: inset #000 0px 0px 3px;
}

.side-menu.open-side-menu .toggle-button {
  transform: rotate(180deg);
  color: #ffea00;
  background-color: #000;
  box-shadow: inset #ffea00 0px 0px 5px, #ffea00 0px 0px 2px;
}

.side-menu.open-side-menu {
  transition: 0.3s ease-in-out all;
  transform: translateX(0px);
  height: initial;
  overflow-y: auto;
}

.menu-title {
  position: absolute;
  transform: rotate(90deg);
  top: 120px;
  right: -12px;
  display: block;
  font-size: 2rem;
}

.side-menu nav ul li a {
  padding: 0px;
}

